body {
	background-color: white;
}

.name a {
	color: #5dae5d;
}

.name a:hover {
	color: #87C387;
}

p, ul, h3, footer, h2 {
	font-family: Libre Baskerville, serif;
}

a {
	text-decoration: none;
}

p a:link {
	color: #5dae5d;
}

p a:hover {
	color: #87C387;
}

p a:visited {
	color: #5C5CAD;
}

ul li a {
	color:#5dae5d;
}

ul li a:hover {
	color: #87C387;
}

ul li a:visited {
	color: #5C5CAD;
}
.sections {
	text-align: center;
	font-family: Roboto Slab, serif;
	display: block;
	margin-bottom: 2%;
}

.sections a {
	color: black;
}

.sections a:hover {
	color: #666666;

}

.networking {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

img.connect {
	width:10%;
	max-width:1500px;
	padding-left: .25%;
	padding-right: .25%;
	height:auto;
	width: 1500px;
}

body {
	background-color: white;
}


.bio {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.bio p {
	text-align: center;
	font-size: 2em;
	line-height: 150%;
}

p, ul, h3, footer, h2, h4 {
	font-family: Libre Baskerville, serif;
}

a {
	text-decoration: none;
}

p a:link {
	color: #5dae5d;
}

p a:hover {
	color: #87C387;
}

p a:visited {
	color: #5C5CAD;
}

ul li a {
	color:#5dae5d;
}

ul li a:hover {
	color: #87C387;
}

ul li a:visited {
	color: #5C5CAD;
}
.sections {
	text-align: center;
	font-family: Roboto Slab, serif;
	display: block;
}

.sections a {
	color: black;
}

.sections a:hover {
	color: #666666;
}

.networking {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

img.connect {
	width:10%;
	max-width:1500px;
	padding-left: .25%;
	padding-right: .25%;
	height:auto;
	display:inline;

}

footer {
	font-size: .75em;
	text-align: center;
}

h4 {
	font-size: 1.3em;
	font-family: Roboto Slab, serif;
}

.intro {
	display: block;
}

/*media query phone*/

@media only screen and (max-width: 459px) {
	
	h1.name {
	text-align: center;
	font-size:2em;
	font-family: Roboto Slab, serif;
	text-decoration: none;
	display: block;
	margin-bottom: -3%;
	width: 90%;
	}

	.bio {
	margin-left: 10%;
	margin-right: 10%;
	width: 85%;

	}

	.bio p {
	text-align: center;
	font-size: 3em;
	line-height: 170%;
	}	
	
	.container {
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
	display: block;
	}
	
	.gallery {
	text-align:center;
	max-width:80%;
	width: 300px;
	height: auto;
	margin: 2%;
	}
	
	.photocontainer {
	text-align: center;
	display: block;
	}
}

/*media query laptop and desktop*/

@media only screen and (min-width: 460px) and (max-width: 1699px) {
	
	h1.name {
	text-align: center;
	font-size:3em;
	font-family: Roboto Slab, serif;
	text-decoration: none;
	display: block;
	margin-bottom: -3%;
	}

	.bio {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;

	}

	.bio p {
	text-align: center;
	font-size: 2em;
	line-height: 150%;
	}
	
	.container {
	margin-left: 7%;
	margin-right: 7%;
	width: 76%;
	display: block;
	}
	
	.gallery {
	text-align:center;
	max-width:80%;
	width: 300px;
	height: auto;
	margin: 2%;
	}
	
	.photocontainer {
	text-align: center;
	display: block;
	}
}

/*media query large screens*/

@media only screen and (min-width: 1700px) {
	
	h1.name {
	text-align: center;
	font-size:3em;
	font-family: Roboto Slab, serif;
	text-decoration: none;
	display: block;
	margin-bottom: 2%;
	}

	.bio {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;

	}

	.bio p {
	text-align: center;
	font-size: 2em;
	line-height: 150%;
	}	
	
	.container {
	margin-left: 7%;
	margin-right: 7%;
	width: 76%;
	display: block;
	}
	
	.gallery {
	max-width:80%;
	width: 300px;
	height: auto;
	margin: .5%;
	}
	
	.photocontainer {
	display: block;
	}
}
